@charset "UTF-8";
/* CSS Document */

#chalupa{
	background-color: #96C0AC;
	align-items: center;
	text-align: right;
}

#chalupapop{
	text-align: right;

}
/*
.menu-container
  line-height: 1.4
  text-align: center
  padding: 44px
  color: #333

.highlight-container, .highlight 
  position: relative
.highlight-container
  display: inline-block
  &:before
    content: ' '
    display: block
    height: 90%
    width: 100%
    margin-left: -12px
    margin-right: 10px
    position: absolute
    background: #F3DC7D
    bottom: -10px*/
/*
.highlighter{
	background: #F3DC7D;
}*/

.highlight-menu{
  position: relative;
  top: -11px;
  left: 10px;

}

.background-menu{
  position: absolute;
  padding-left: 10px;
  background: #F3DC7D;
  height: 15px;
}

////

/*body {
  padding: 10px;
  
  font-size: 25px;
  font-family: Arial, Verdana, sans-serif;
}*/

.menuheading span {
 /* left: 10px;*/
  
}
.out{
  position: relative;
/*   bottom: -50px; */
  background-color: #F3DC7D;
/*   z-index: -1; */
}

.in{
  position: relative;
  left: 10px;
  bottom: 15px;
  z-index: 99;
}

/*Contact Info*/
#contact-section{
	background-image:url(../img/wall_graphics2.png);
	height: 1000px;
}

#contactform{
	background-color: white;
}

/*Social media*/
#socialmedia{
	background-image:url(../img/stripes.jpg);
	height: 1000px;
}

/*Test*/

#bordb{
  /*border-bottom: 3px solid #F3DC7D;*/
  /*-webkit-box-shadow: inset 0 -4px 0 #b4e7f8;*/
  padding-left: 50px;
  -webkit-box-shadow: 20 20px 10px -10px #b4e7f8;
     -moz-box-shadow: 0 8px 6px -6px #b4e7f8;
          box-shadow: 0 8px 6px -6px #b4e7f8;
  }
  #myDIV {
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 50px;
    /*background-color:yellow;*/
    width:200px;
    height:100px;
    box-shadow: -20px 30px 0px -20px  #F3DC7D;
    z-index: 99;
    /*box-shadow: -30px 50px 0px -30px #F3DC7D;   */
}
/**/
#practiceshadow{
 /* margin-left: 20px;
  padding-left: 20px;
  padding-bottom: -10px;
  width: 10%;*/
 box-shadow: -30px 50px 0px -30px #F3DC7D;  
/*inset xPosition yPosition blurSize spreadSize color;*/
}

#outpractice{
  padding-bottom: 50px;
}

/*button for contact form*/

a.btn_t, .btn_t{
  border: none;
  font-family: inherit;
  font-size: inherit;
  color:#000;
  background: #F3DC7D;
  cursor: pointer;
  padding: 7px 20px;
  display: inline-block;
  outline: none;
  font-size:12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0px;
  text-transform:uppercase;
  font-weight:bold;
}

a.btn_t:hover, .btn_t:hover {
  background: #333;
}